.Rproj.user
.Rhistory
.RData
.Ruserdata
MS1_Fig1.pdf
MS1_Fig2.pdf
MS1_legendFig2.pdf
MS1_Fig3.pdf
MS1_Fig4.pdf
MS1_AppendixA1.pdf
MS1_AppendixA2.pdf
MS1_AppendixA3_1.pdf
MS1_AppendixA3_2.pdf
MS1_AppendixA3_3.pdf
MS1_AppendixA4.pdf
MS1_AppendixA5.pdf
Warming_IGP_communities.Rproj
.gitignore